/*---------------------------------------------------------------------------
  Theme: Metanoya
  
  Your CSS goes here
----------------------------------------------------------------------------*/
@font-face {
  font-family: riffic;
  src: url(../fonts/riffic-bold.ttf) format("truetype");
}


.icon-nav{
  max-width: 22px!important;
  margin-bottom: 6px;
}

.text-bg-img{
  background-image: url(../images/final-text-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

.no-overflow{
  overflow: visible!important;
}

.lb-1{
  background-color: #d1dac5!important;
}

.lb-2{
  background-color: #ecd0b2!important;
}

/* .head-bg{
  background-image: url(../images/menu-bg.jpg);
} */

/* .head-bg{
background-color: #EECB9D;
} */

.head-bg-2{
  background-color: #D3F3FE;
}

.lb-3{
  background-color: #c9b9ee;
}

.lb-4{
  background-color: #c5acff;
}

.page-theme1{
  background-color: #F4FFAD!important;
}

/* .page-theme2{
  background-color: #ecd0b2;
} */

/* .page-theme3{
  background-color: #FED9CC;
} */


/* .page-theme4{
  background-color: #D3F3FF;
} */

/* .page-theme5{
  background-color: #DED1FC;
} */

.page-theme6{
  background-color: #D6EBC5;
}

.bg-img1{
  background-image: url(../images/final-text-bg4.jpg);
background-repeat: no-repeat;
  background-size: 100% 100%;

}


.bg-img2{
  background-image: url(../images/img-text-bg.png);
}

.bg-img3{
  background-image: url(../images/board.png);
}

.bg-img4{
  background-image: url(../images/menu-bg_copy_1110x1200.jpg);
}

.bg-img6{
  background-image: url(../images/paper-texturejpg.jpeg);
}

.bg-img7{
  background-image: url(../images/tex.jpg);
}

.lb-6{
  background-color: #D6EBC5;
}

.text-c1{
  color: #ff5944!important;
}

.text-c2{
  color: #ffc624;
}

.text-c3{
  color: #088082;
}

.home-text{
  top: 80%;
  position: relative;
  justify-content: center;
  display: flex;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  .home-text{
    top: 65%;
    z-index: 2;
  }
}

@media only screen and (max-width: 600px) {
  .banner-text{
    bottom: -100px;
    justify-content: center;
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .banner-text2{
    justify-content: center;
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .banner-text3{
    font-size: 18px!important;
    justify-content: center;
    display: grid
  }
}

@media only screen and (max-width: 600px) {
  .banner-icon{
   width: 15%!important;
  }
}

@media only screen and (max-width: 600px) {
  .img-sm{
  position: inherit!important;
  background-color: #fff2db;
  }
}

@media only screen and (max-width: 600px) {
  .page-tittle.page-tittle-lg{
 padding: 0px 0px;
  }
}

@media only screen and (min-width: 600px) {
  .img-sm, .counselling-sm, .neurodiversity-sm, .certfication-sm {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .neurodiversity-sm{
    left: 0%!important;
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .neurodiversity-lg{
  display: none;
  }
}









@media only screen and (max-width: 992px) {
  .responsive-img{
    left: -15%!important;
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  .responsive-img{
    max-width: 100%;
    left: 0px!important;
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  .responsive-img1{
    height: 100%!important;
  }
}

@media only screen and (max-width: 600px) {
  .responsive-img2{
    height: 100%!important;
  }
}

/* @media only screen and (max-width: 600px) {
  .responsive-img3{
    background-image: url(../images/try1.jpg)!important;
    max-width: 100%;
    left: 0%!important;
  }
} */

@media only screen and (max-width: 600px) {
  .full-img{
    background-image: url(../images/banner-neurodiversity.svg)!important;
    /* max-width: 100%; */
  }
}

