/*---------------------------------------------------------------------------
  Theme: Metanoya
  
  Your CSS goes here
----------------------------------------------------------------------------*/
@font-face {
  font-family: riffic;
  src: url(../fonts/riffic-bold.ttf) format("truetype");
}


.icon-nav{
  max-width: 22px!important;
  margin-bottom: 6px;
}

.text-bg-img{
  background-image: url(../images/final-text-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

.no-overflow{
  overflow: visible!important;
}

.lb-1{
  background-color: #d1dac5!important;
}

.lb-2{
  background-color: #ecd0b2!important;
}

/* .head-bg{
  background-image: url(../images/menu-bg.jpg);
} */

/* .head-bg{
background-color: #EECB9D;
} */

.head-bg-2{
  background-color: #D3F3FE;
}

.lb-3{
  background-color: #c9b9ee;
}

.lb-4{
  background-color: #c5acff;
}

.page-theme1{
  background-color: #F4FFAD!important;
}

/* .page-theme2{
  background-color: #ecd0b2;
} */

/* .page-theme3{
  background-color: #FED9CC;
} */


/* .page-theme4{
  background-color: #D3F3FF;
} */

/* .page-theme5{
  background-color: #DED1FC;
} */

.page-theme6{
  background-color: #D6EBC5;
}

.bg-img1{
  background-image: url(../images/final-text-bg4.jpg);
background-repeat: no-repeat;
  background-size: 100% 100%;

}


.bg-img2{
  background-image: url(../images/img-text-bg.png);
}

.bg-img3{
  background-image: url(../images/board.png);
}

.bg-img4{
  background-image: url(../images/menu-bg_copy_1110x1200.jpg);
}

.bg-img6{
  background-image: url(../images/paper-texturejpg.jpeg);
}

.bg-img7{
  background-image: url(../images/tex.jpg);
}

.lb-6{
  background-color: #D6EBC5;
}

.text-c1{
  color: #ff5944!important;
}

.text-c2{
  color: #ffc624;
}

.text-c3{
  color: #088082;
}

.home-text{
  top: 80%;
  position: relative;
  justify-content: center;
  display: flex;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  .home-text{
    top: 65%;
    z-index: 2;
  }
}

@media only screen and (max-width: 600px) {
  .banner-text{
    bottom: -100px;
    justify-content: center;
    display: flex;
  }
}

/* @media only screen and (max-width: 600px) {
  .banner-text-usefull-links{
    bottom: 75px;
    justify-content: center;
    display: flex;
  }
} */

@media only screen and (max-width: 600px) {
  .banner-text2{
    justify-content: center;
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .banner-text3{
    font-size: 18px!important;
    justify-content: center;
    display: grid
  }
}

@media only screen and (max-width: 600px) {
  .banner-icon{
   width: 15%!important;
  }
}

@media only screen and (max-width: 600px) {
  .img-sm{
  position: inherit!important;
  background-color: #fff2db;
  }
}

/* @media only screen and (max-width: 600px) {
  .page-tittle.page-tittle-lg{
 padding: 0px 0px;
  }
} */

@media only screen and (min-width: 600px) {
  .img-sm, .neurodiversity-sm{
    display: none;
  }
}

/* @media only screen and (max-width: 600px) {
  .usefull-links-lg{
    display: none;
  }
} */

@media only screen and (max-width: 600px) {
  .usefull-banner.page-tittle-lg {
    padding: 0px 0px!important;
  }
}

/* @media only screen and (min-width: 600px) {
  .usefull-links-sm {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .usefull-links-sm {
    position: inherit!important ;
  }
} */

@media only screen and (max-width: 991px) {
  .home-fixed {
    display: none;
  }
}

@media only screen and (min-width: 991px) {
  .home-fixed1 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .neurodiversity-sm{
    left: 0%!important;
    max-width: 100%;
  }
}


@media only screen and (max-width: 1200px) {
  .header ul.navbar-nav > li > a{
  font-size: 13px;
  }
  .header.header-sticky.sticky ul.navbar-nav > li > a {
    font-size: 13px;
  }
  .logo-head{
    width: 150px!important;
  }
}

@media only screen and (max-width: 992px) {
  .header ul.navbar-nav > li > a{
  font-size: 13px;
  }
}

@media only screen and (max-width: 992px) {
  .responsive-img{
    left: -15%!important;
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  .responsive-img{
    max-width: 100%;
    left: 0px!important;
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  .responsive-img1{
    height: 100%!important;
  }
}

@media only screen and (max-width: 600px) {
  .responsive-img2{
    height: 100%!important;
  }
}

@media only screen and (max-width: 992px) {
  .about-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-about.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-about,.banner-text-about2{
   display: flex;
   justify-content: center;
  }
}


@media only screen and (max-width: 992px) {
  .inspiration-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-inspiration.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-inspiration{
   display: flex;
   justify-content: center;
  }
  .banner-text-inspiration2{
    justify-content: center;
    display: grid;
  }
}

@media only screen and (max-width: 992px) {
  .vision-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-vision.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-vision{
   display: flex;
   justify-content: center;
  }
  .banner-text-inspiration2{
    justify-content: center;
    display: grid;
  }
}

@media only screen and (max-width: 992px) {
  .board-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-board.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-board{
   display: flex;
   justify-content: center;
  }
  .banner-text-board2{
    justify-content: center;
    display: grid;
  }
}

@media only screen and (max-width: 992px) {
  .team-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-team.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-team{
   display: flex;
   justify-content: center;
  }
  .banner-text-team2{
    justify-content: center;
    display: grid;
  }
}

@media only screen and (max-width: 600px) {
  .awareness-lg{
  display: none;
  }
}

@media only screen and (min-width: 600px) {
  .awareness-sm{
  display: none;
  }
}

@media only screen and (max-width: 992px) {
  .awareness-sm, .awareness-lg{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-awareness.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-awareness, .banner-text-awareness2{
   display: flex;
   justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .screening-lg{
  display: none;
  }
}

@media only screen and (min-width: 600px) {
  .screening-sm{
  display: none;
  }
}


@media only screen and (max-width: 992px) {
  .screening-lg, .screening-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-screening.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-screening, .banner-text-screening2{
   display: flex;
   justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .intervention-lg{
  display: none;
  }
}

@media only screen and (min-width: 600px) {
  .intervention-sm{
  display: none;
  }
}

@media only screen and (max-width: 992px) {
  .intervention-lg, .intervention-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-intervention.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-intervention{
   display: flex;
   justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .offsite-lg{
  display: none;
  }
}

@media only screen and (min-width: 600px) {
  .offsite-sm{
  display: none;
  }
}

@media only screen and (max-width: 992px) {
  .offsite-lg, .offsite-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-offsite.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-offsite, .banner-text-offsite2{
   display: flex;
   justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .certification-lg{
  display: none;
  }
}

@media only screen and (min-width: 600px) {
  .certification-sm{
  display: none;
  }
}

@media only screen and (max-width: 992px) {
  .certification-lg, .certification-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-certification.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-certification{
   display: flex;
   justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .counselling-lg{
  display: none;
  }
}

@media only screen and (min-width: 600px) {
  .counselling-sm{
  display: none;
  }
}

@media only screen and (max-width: 992px) {
  .counselling-lg, .counselling-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-counselling.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-counselling{
   display: flex;
   justify-content: center;
  }
}

@media only screen and (max-width: 992px) {
  .awareness-lg{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-awareness.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-awareness{
   display: flex;
   justify-content: center;
  }
}

@media only screen and (max-width: 992px) {
  .how-lg{
    position: initial!important;
    max-width: 100%!important;
    width: fit-content!important;
  }
  .banner-how.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-how{
   display: flex;
   justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .neurodiversity-lg{
  display: none;
  }
}

@media only screen and (min-width: 600px) {
  .neurodiversity-sm{
  display: none;
  }
}

@media only screen and (max-width: 992px) {
  .neurodiversity-lg, .neurodiversity-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-neurodiversity.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-neurodiversity{
   display: flex;
   justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .usefull-links-lg{
  display: none;
  }
}

@media only screen and (min-width: 600px) {
  .usefull-links-sm{
  display: none;
  }
}

@media only screen and (max-width: 992px) {
  .usefull-links-lg, .usefull-links-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-usefull-links.page-tittle-xl{
    padding: 0px 0px;
  }
  .banner-text-usefull-links, .banner-text-usefull-links{
   display: flex;
   justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .contact-lg{
  display: none;
  }
}

@media only screen and (min-width: 600px) {
  .contact-sm{
  display: none;
  }
}

@media only screen and (max-width: 992px) {
  .contact-lg, .contact-sm{
    position: initial!important;
    max-width: 100%;
    height: auto!important;
  }
  .banner-contact.page-tittle-xl{
    padding: 0px 0px;
  }
  /* .banner-text-usefull-links, .banner-text-usefull-links{
   display: flex;
   justify-content: center;
  } */
}

@media only screen and (max-width: 600px) {
  body{
    font-size: 19px;
  }
}